{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/add.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/check-r.css' rel='stylesheet'>
<div class="container-fluid" id="content">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand logo-text" href="#">LinkEat In</a>
        <ul class="navbar-nav mx-5">
          <li class="nav-item"></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <span class="navbar-text mx-4"> Hello, <span>{{ user_name }}</span>
          </span>
          <li class="nav-item">
            <form action="/logout/">
              <button type="submit" class="btn btn-outline-primary">Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid mt-5">
    <div class="row d-flex justify-content-md-center ">
      <div class="col-md-4 col-sm-12">
        <div class="container">
          <div class="text-center mb-4">
            <h2>Active offers</h2>
          </div>
          <div>
            <form action="/filter_city/" id="filter_form" , method="post"> {% csrf_token %} <div class="input-wrap" id="user-city">
                <select name="city" class="input-field" id="filter_city">
                  <p class="city-label">Choose city</p>
                  <option selected="selected" value="{{ user_city.id }}">{{ user_city.name }}</option> {% for city in city_list %} <option value="{{city.id}}"> {{city.name}}</option> {% endfor %}
                </select>
              </div>
            </form>
          </div>
          <div class="offers"> {% if offers %} {% for offer in offers %} <div class="card-wrapper">
              <form action="/create_order/" id="create_order" , method="post"> {% csrf_token %} <input type="number" class="input-quantity" name="order_quantity" min="1" max="{{ offer.quantity }}" value="1">
                <input type="hidden" name="offer_id" value={{ offer.id }} />
                <i class="gg-add book-icon" onclick="makeOrder()"></i>
              </form>
              <div class="card mb-5">
                <h5 class="card-header">
                  <span>{{ offer.name }}</span>
                </h5>
                <div class="card-body">
                  <p class="card-text">
                    <span>{{ offer.description }}</span>
                  </p>
                  <p class="card-text">Price <span>{{ offer.price }}</span> ₴ &nbsp;&nbsp;&nbsp; Available: <span>{{ offer.quantity }}</span> portions </p>
                </div>
                <div class="card-footer bg-transparent"> Book time: <span>{{ offer.book_time }}</span> Pickup time: <span>{{ offer.pick_up_time }}</span>
                </div>
                <div class="card-footer bg-transparent">
                  <span>{{ offer.cafe.name }}</span>&nbsp;&nbsp; Address: <span>{{ offer.cafe.address }}</span>
                </div>
              </div>
            </div> {% endfor %} {% else %} <div class="empty-card card mb-5 p-2 d-flex align-items-center" style="height: 10rem">
              <div class="d-flex align-items-center empty-card-inner card-body text-center">
                <h4 class="my-3 card-text">No available offers</h4>
              </div>
            </div> {%endif %} </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-5">
        <div class="container">
          <div class="text-center mb-4">
            <h2>My orders</h2>
          </div> {% if orders %} {% for order in orders %} <div class="card-wrapper">
            {% if order.status == "Ready" %}
                <form action="/pick_order/" id="pick_order" method="post"> {% csrf_token %} <input type="hidden" name="order_id" value={{ order.id }} />
              <p class="pick-up-text">Submit pick up</p>
              <i class="gg-check-r book-icon" onclick="pickOrder()"></i>
            </form> {% endif %} <div class="card mb-5">
              <h5 class="card-header">
                <span>{{ order.offer.name }}</span>
              </h5>
              <div class="card-body">
                <p class="card-text">
                  <span>{{ order.offer.description }}</span>
                </p>
                <p class="card-text">Total: <span class="fw-bolder">{{ order.total }}</span> ₴ &nbsp;&nbsp;&nbsp; Portions: <span>{{ order.quantity }}</span>
                </p>
              </div>
              <div class="card-footer bg-transparent"> Pickup time: <span>{{ order.offer.pick_up_time }}</span>&nbsp;&nbsp;&nbsp;Status: <span>{{ order.status }}</span>
              </div>
              <div class="card-footer bg-transparent">
                <span>{{ order.offer.cafe.name }}</span>&nbsp;&nbsp; Address: <span>{{ order.offer.cafe.address }}</span>
              </div>
            </div>
          </div> {% endfor %} {% else %} <div class="empty-card card mb-5 p-2 d-flex align-items-center" style="height: 10rem">
            <div class="d-flex align-items-center empty-card-inner card-body text-center">
              <h4 class="my-3 card-text">No orders</h4>
            </div>
          </div> {%endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script src="{% static 'js/user_home.js' %}"></script> {% endblock %}